In [2]:
import pandas as pd
melbourne_houses = pd.read_csv('melb_data.csv')

In [3]:
melbourne_houses.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [4]:
melbourne_houses['Method'].value_counts()

S     9022
SP    1703
PI    1564
VB    1199
SA      92
Name: Method, dtype: int64

In [5]:
suburb_count = melbourne_houses['Suburb'].value_counts()

In [6]:
suburb_count.describe()

count    314.000000
mean      43.248408
std       55.138994
min        1.000000
25%        6.250000
50%       20.500000
75%       59.000000
max      359.000000
Name: Suburb, dtype: float64

In [7]:
melb_house_df = melbourne_houses.copy()

In [8]:
melb_house_df.loc[melb_house_df['Suburb'] == 'Brighton']

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1040,Brighton,802 Hampton St,3,h,1550000.0,VB,Buxton,3/09/2016,11.2,3186.0,...,2.0,2.0,663.0,NaN,1940.0,Bayside,-37.91590,145.00680,Southern Metropolitan,10579.0
1041,Brighton,18 Rooding St,3,h,1635000.0,S,Buxton,3/09/2016,11.2,3186.0,...,1.0,2.0,366.0,156.0,1920.0,Bayside,-37.90380,145.00010,Southern Metropolitan,10579.0
1042,Brighton,152A Cochrane St,4,h,1830000.0,S,Hodges,3/12/2016,11.2,3186.0,...,2.0,2.0,436.0,NaN,NaN,Bayside,-37.89270,145.00050,Southern Metropolitan,10579.0
1043,Brighton,17 McCallum St,4,h,3695000.0,S,Marshall,3/12/2016,11.2,3186.0,...,3.0,2.0,836.0,284.0,1960.0,Bayside,-37.90710,144.98980,Southern Metropolitan,10579.0
1044,Brighton,2/26 Pearson St,2,u,536000.0,SP,Hodges,3/12/2016,11.2,3186.0,...,1.0,2.0,0.0,70.0,1970.0,Bayside,-37.90810,145.00430,Southern Metropolitan,10579.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12915,Brighton,2A Hillcrest Av,4,h,1850000.0,VB,Jellis,19/08/2017,10.5,3186.0,...,3.0,3.0,421.0,170.0,2000.0,NaN,-37.90542,145.00604,Southern Metropolitan,10579.0
12916,Brighton,34 Moffat St,4,h,2770000.0,S,Nick,19/08/2017,10.5,3186.0,...,3.0,2.0,560.0,NaN,NaN,NaN,-37.92314,144.99777,Southern Metropolitan,10579.0
13366,Brighton,3 Adamson St,4,h,3200000.0,VB,Marshall,26/08/2017,10.5,3186.0,...,3.0,2.0,635.0,NaN,1930.0,NaN,-37.91559,144.99885,Southern Metropolitan,10579.0
13367,Brighton,53 Elwood St,4,h,2830000.0,S,Nick,26/08/2017,10.5,3186.0,...,2.0,2.0,700.0,202.0,1930.0,NaN,-37.90034,144.99609,Southern Metropolitan,10579.0
13368,Brighton,44 Meek St,4,h,2260000.0,S,Nick,26/08/2017,10.5,3186.0,...,2.0,2.0,881.0,NaN,2015.0,NaN,-37.90217,144.99337,Southern Metropolitan,10579.0

In [9]:
melb_house_df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [10]:
melb_house_df.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [11]:
melb_house_df.drop(columns = ['Address','Type','Method','SellerG','Date','CouncilArea','Regionname','Postcode','Lattitude','Longtitude','Propertycount'], inplace = True)

In [12]:
melb_house_df.dtypes

Suburb           object
Rooms             int64
Price           float64
Distance        float64
Bedroom2        float64
Bathroom        float64
Car             float64
Landsize        float64
BuildingArea    float64
YearBuilt       float64
dtype: object

In [13]:
#this checks which columns have null values
melb_house_df.columns[melb_house_df.isnull().any()].tolist()

['Car', 'BuildingArea', 'YearBuilt']

In [14]:
#this shows only the rows that have null values 
melb_house_df[melb_house_df.isnull().any(axis=1)]

,Suburb,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt
0,Abbotsford,2,1480000.0,2.5,2.0,1.0,1.0,202.0,NaN,NaN
3,Abbotsford,3,850000.0,2.5,3.0,2.0,1.0,94.0,NaN,NaN
5,Abbotsford,2,941000.0,2.5,2.0,1.0,0.0,181.0,NaN,NaN
8,Abbotsford,1,300000.0,2.5,1.0,1.0,1.0,0.0,NaN,NaN
10,Abbotsford,2,700000.0,2.5,2.0,2.0,1.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
13569,Wantirna South,4,1323000.0,14.7,4.0,2.0,2.0,551.0,NaN,NaN
13570,Wantirna South,3,970000.0,14.7,3.0,2.0,2.0,674.0,NaN,NaN
13574,Westmeadows,3,582000.0,16.5,3.0,2.0,2.0,256.0,NaN,NaN
13575,Wheelers Hill,4,1245000.0,16.7,4.0,2.0,2.0,652.0,NaN,1981.0
13577,Williamstown,3,1170000.0,6.8,3.0,2.0,4.0,436.0,NaN,1997.0

In [15]:
#fills all the null values with zero!!!
melb_house_df.fillna(0, inplace = True)

In [16]:
melb_house_df.head()

,Suburb,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt
0,Abbotsford,2,1480000.0,2.5,2.0,1.0,1.0,202.0,0.0,0.0
1,Abbotsford,2,1035000.0,2.5,2.0,1.0,0.0,156.0,79.0,1900.0
2,Abbotsford,3,1465000.0,2.5,3.0,2.0,0.0,134.0,150.0,1900.0
3,Abbotsford,3,850000.0,2.5,3.0,2.0,1.0,94.0,0.0,0.0
4,Abbotsford,4,1600000.0,2.5,3.0,1.0,2.0,120.0,142.0,2014.0

In [25]:
melb_house_df.corr()

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt
Rooms,1.000000,0.496634,0.294203,0.944190,0.592934,0.408364,0.025678,0.097950,-0.005392
Price,0.496634,1.000000,-0.162522,0.475951,0.467038,0.234825,0.037507,0.069627,-0.027001
Distance,0.294203,-0.162522,1.000000,0.295927,0.127155,0.266082,0.025004,0.072750,-0.021075
Bedroom2,0.944190,0.475951,0.295927,1.000000,0.584685,0.405046,0.025646,0.094906,-0.005679
Bathroom,0.592934,0.467038,0.127155,0.584685,1.000000,0.322434,0.037130,0.101881,0.076008
Car,0.408364,0.234825,0.266082,0.405046,0.322434,1.000000,0.026463,0.067463,-0.020529
Landsize,0.025678,0.037507,0.025004,0.025646,0.037130,0.026463,1.000000,0.089531,-0.019722
BuildingArea,0.097950,0.069627,0.072750,0.094906,0.101881,0.067463,0.089531,1.000000,0.123743
YearBuilt,-0.005392,-0.027001,-0.021075,-0.005679,0.076008,-0.020529,-0.019722,0.123743,1.000000